@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --white: #FFFFFF;
    --red: #D35749;
    --bluegrey: rgba(40, 61, 81, 0.8);
    --darkblue: #40586F;
}

*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

.toCart {
    position: absolute;
    top: 15px;
    right: 30px;

    width: 16%;
    background: none;
    border: none;

}

.menu_page{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.menu_page_body{
    background: #40586F;
}

/*------------------------*/
/*----Item Adjustments----*/
/*------------------------*/

.items .heading{
    position: absolute;
    top: 12%;
    left: 50%;
    font-size: 50px;
    text-align: center;
    transform: translate(-50%, -50%);
    color: var(--red);
}

.items h2{
    position: relative;
    text-align: center;
    color:var(--white);
    font-family: Montserrat;
    font-style: normal;
    font-weight:600;
    font-size: 22px;
}

.items .head-row1{
    bottom: 10rem;
}

.items .head-row2-col1{
    bottom: 11rem;
}

.items .head-row2-col2{
    bottom: 11rem;
}

.items .head-row3-col1{
    bottom: 10.5rem;
}
.items .head-row3-col2{
    bottom: 8.3rem;
}

.items h3{
    position: relative;
    justify-self: center;
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
}

.items .row1{
    top: -90px;
}

.items .row2-col1{
    top: -100px;
}

.items .row2-col2{
    top: -112px;
}

.items .row3-col1{
    top: -105px;
}

.items .row3-col2{
    top: -80px;
}

.items .box-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, auto));
    grid-gap: 10%;
    padding-right: 5rem;
    padding-left: 5rem;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.items .box-container .box {
    position: relative;
    height: 224.36px;
    width: 185.87px;
    top: 250px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 10px;
}

.items .box-container .box img{
    position:relative;
    justify-self: center;
    top: 14%;
    transform: translate(0, -100%);
}

.items .box-container .box .price{
    position: relative;
    top:87%; left: 6rem;
    color:var(--white);
    font-size: 1.5rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
}

/*-------------------------*/
/*---overlay adjustments---*/
/*-------------------------*/

.overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.overlay .overlay-content {
    position:absolute;
    bottom: 40%;
    right: 50%;
    transform: translate(50%, 0);
    height: 240px;
    width: 200px;
    background: var(--white);
    text-align: center;
    border-radius: 10px;
}

.overlay .overlay-content img{
    position:relative;
    justify-self: center;
    top: 5%;
    transform: translate(0, -100%);

}

.overlay .overlay-content h2{
    position: relative;
    text-align: center;
    color:var(--bluegrey);
    font-family: Montserrat;
    font-style: normal;
    font-weight:600;
    font-size: 23px;
    top: -50%;
}

/* FIRST ITEM */

.overlay .overlay-content .minus{
    position: absolute;
    left: 12%;
    top: 40%;

    width: 37px;
    height: 37px;
    background: rgba(64, 88, 111, 0.5);
    /* color: rgba(0,0,0,0.2); */
    border-radius: 100%;
    cursor: pointer;
}

.overlay .overlay-content h1{
    font-size: 20px;
    color:#000;
    position: relative;
    text-align: center;
}

.overlay .overlay-content .plus{
    position: absolute;
    right: 12%;
    top: 40%;

    width: 37px;
    height: 37px;
    background: rgba(64, 88, 111, 0.5);
    /* color: rgba(0,0,0,0.2); */
    border-radius: 100%;
    cursor: pointer;
}

.overlay .overlay-content .count{
    position: absolute;
    left: 35%;
    right: 35%;
    top: 40%;
    bottom: 45%;
    font-size: 20px;
    color: var(--darkblue);
    font-weight: 600;
    border: 2px solid #151D25;
    border-radius: 49.4975px;
    pointer-events: none;
}

.overlay .overlay-content .count h1{
    /* font-size: 20px; */
    position: relative;
    text-align: center;
    /* top: 12%; */
}

.overlay .overlay-content a{
    position: relative;
    text-align: center;
    color:var(--red);
    font-family: Montserrat;
    font-style: normal;
    font-weight:600;
    font-size: 20px;
    top: -20%;
}

.overlay .overlay-content .price{
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: var(--darkblue);
    top: 87%;
    left: 37%;
}

.overlay .overlay-content .priceVal{
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color: var(--darkblue);
    top: 87%;
    left: 37%;
}

/*--------------------------*/
/*-------popup buttons------*/
/*--------------------------*/

#popups1 #count1{
    top: 35%;
    bottom: 50%;
}

#popups1 #plus1{
    top: 35%;
}

#popups1 #minus1{
    top: 35%;
}

#popups2 #count2{
    top: 43%;
    bottom: 42%;
}

#popups2 #plus2{
    top: 43%;
}

#popups2 #minus2{
    top: 43%;
}

#popups3 #count3{
    top: 45%;
    bottom: 40%;
}

#popups3 #plus3{
    top: 45%;
}

#popups3 #minus3{
    top: 45%;
}

#popups4 #count4{
    top: 54%;
    bottom: 31%;
}

#popups4 #plus4{
    top: 54%;
}

#popups4 #minus4{
    top: 54%;
}

#popups5 #count5{
    top: 45%;
    bottom: 40%;
}

#popups5 #plus5{
    top: 45%;
}

#popups5 #minus5{
    top: 45%;
}

#popups6 #count6{
    top: 35%;
    bottom: 50%;
}

#popups6 #plus6{
    top: 35%;
}

#popups6 #minus6{
    top: 35%;
}

#popups4 a{
    position: relative;
    text-align: center;
    top: -27%;
}

.close {
    color: var(--white);
    float: right;
    font-size: 28px;
    font-weight: bold;
}


/*
@media screen and (max-height: 450px) {
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

    .overlay .overlay-content h2 {
        position: relative;
        text-align: center;
        color:var(--white);
        font-family: Montserrat;
        font-style: normal;
        font-weight:600;
        font-size: 22px;
        bottom: 8.5rem;
      }
}
*/
