:root{
    --white: #FFFFFF;
    --FLred: #D35749;
    --FLblue: #40586F;
}


html, body {
    min-height: 100%;
    background-color: #40586F;
}

.topRightLogo {
    position: absolute;
    top: 0px;
    right: 0px;

    width: 200px;
    height: auto;
    padding: 50px;
}

.toMenu {
    position: absolute;
    top: 0px;
    padding: 30px;

    width: 80px;
    height: auto;
    background: none;
    border: none;
}

/* splash screen classes */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerLogo {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
}
/* end of splash screen classes */


/* menu screen classes */
.itemsContainer {
    position: absolute;
    top: calc(10% + 122px + 10%);
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, auto));
    grid-gap: 10%;
    border: 1px solid #000;

    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

.itemBlock {
    height: 448px;
    width: 370px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.itemPicture {
    position: relative;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
/* end of menu screen classes */


/* cart screen classes */
cartToggle{
    display: none;
}

/* main contents of cart */
.screenTitle {
    margin-top: 10%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 72px;
    line-height: 49px;
    color: white;
    text-align: center;
}

/* cart contents */
.cartPage{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90vw;
    height: 120vw;

    background: #FFFFFFB3;
    border-radius: 20px;

    font-family: Montserrat;
    color: black;
}

.cartPage table{
    text-align: center;
    padding: 20px 20px;
    width: 100%;
    border-collapse: collapse;
}

.cartPage tr{
    border-bottom: 1px dotted #273F56;
}

.cartPage table thead td{
    border: none;
    padding: 20px;
    font-size: 36px;
    color: #273F56;
}

.cartPage table tbody td{
    font-size: 38px;
    font-weight: 600;
    padding: 10px;
}

.cartPage table tbody td img{
    width: 100px;
    height: auto;
}

/* adjust quantity */
.cartPage table tbody button{
    margin: 0 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: #273F5680;

    font-size: 30px;
    color: #151D25;

    cursor: pointer;
}

/* checkout button */
.coBtnWrap{
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;

    background-color: #40586F;
    border: 5px solid #D35749;
    border-radius: 20px;

    color: white;
    font-family: Montserrat;
}

.toCheckout button{
    position: absolute;
    width: 80%;
    left: 10%;
    bottom: 5%;

    font-size: 50px;
    text-transform: uppercase;
}

#price{
    font-weight: 600;
}
/* end of cart screen classes */


/* order progress screen classes */
.detailsTitle {
    margin-top: 33%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 72px;
    color: white;
    text-align: center;
}

.confirmedText {
    position: relative;
    top: 70px;
    margin-left: 12.5%;
    margin-bottom: 15%;
    font-size: 38px;
    font-weight: 600;
    font-family: Montserrat;
}

.progressBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;

    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 18px;

    background-color: white;
    border-radius: 20px;
}

#progressFill {
    position: absolute;
    width: 10%;
    height: 18px;
    background-color: #D35749;
    border-radius: 30px;
}

.progressBar img {
    position: relative;
    width: 60px;
    height: auto;
}


.bottomContainer {
    margin-top: 10%;
    height: 200vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

/* order contents */
.orderContainer{
    position: relative;

    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90vw;
    height: 70vw;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;

    font-family: Montserrat;
    color: black;
}

.orderContainer table{
    text-align: center;
    padding: 20px 20px;
    width: 100%;
    border-collapse: collapse;
}

.orderContainer table thead td{
    border: none;
    padding: 25px;
    font-size: 30px;
    color: #273F56;
}

.orderContainer table tbody td{
    font-size: 32px;
    padding: 20px;
}

.orderContainer hr {
    margin: 40px;
}

.totalText {
    padding: 5px 30px;
    font-size: 35px;
    font-family: Montserrat;
    float: right;
}

.pickupInfoContainer {
    position: absolute;
    bottom: 40px;
    margin: auto;

    width: 100%;
    height: auto;
}

.lockerNumContainer {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 90%;
    height: 200px;

    background: #40586F;
    border-radius: 40px;

    text-align: center;
    font-size: 38px;
    font-family: Montserrat;
    color: white;
    font-weight: 600;
}


#lockerPinText {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

/* end of order progress screen classes */


/* tap and hold + locker unlocked screen classes */
.container {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    animation: float-in 0.4s ease-in-out forwards;
}

@keyframes float-in {
  0% {
    transform: translate(-50%, 90%);
  }
  100% {
    transition: translate(-50%, -140%);
  }
}

.centerSquare {
    width: 650px;
    height: 700px;
}

.centerNFC {
    position: absolute;
    left: 30%;
    top: 26%;
    width: 250px;
    height: 250px;
}

.scanText {
    position: absolute;
    top: 17%;
    left: 50%;
    font-size: 39px;
    font-weight: 600;
    font-family: Montserrat;
    text-align: center;
    transform: translate(-50%, -50%);
}

.instructionsText {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 25px;
    font-family: Montserrat;
    text-align: center;
    transform: translate(-50%, -50%);
}

.centerCancel {
    position: absolute;
    left: 50%;
    top: 85%;
    width: 300px;
    color:gray;
    transform: translate(-50%, -50%);
}

.cancelText {
    position: absolute;
    top: 85%;
    left: 50%;
    font-size: 35px;
    font-family: Montserrat;
    color: white;
    transform: translate(-50%, -50%);
}

.unlockText {
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 35px;
    font-weight: 600;
    font-family: Montserrat;
    text-align: center;
    transform: translate(-50%, -50%);
}

.centerLocker {
    position: absolute;
    left: 50%;
    top: 60%;
    width: 400px;
    color:gray;
    transform: translate(-50%, -50%);
}

/* enter pin screen classes*/
.popupContainer {
    position: absolute;
    left: 50%;
    top: 51%;
    width: 100%;
    height: 1500px;
    transform: translate(-50%, -50%);
}

.centerInnerRectangle {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 85%;
    height: 35%;
    transform: translate(-50%, -50%);
}

.pinText {
    position: absolute;
    top: 38%;
    left: 50%;
    font-size: 49px;
    font-weight: 600;
    font-family: Montserrat;
    text-align: center;
    transform: translate(-50%, -50%);
}

.codeText {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    font-weight: bold;
    font-family: Montserrat;
    text-align: center;
    transform: translate(-50%, -50%);
}

/* customer leaving screen classes */
.centerLock {
    position: absolute;
    left: 35%;
    top: 28%;
    width: 200px;
    height: 200px;
}

.relockText {
    position: absolute;
    top: 75%;
    left: 50%;
    font-size: 30px;
    font-family: Montserrat;
    text-align: center;
    transform: translate(-50%, -50%);
}

/* farewell screen class */
.centerFarewell {
    position: absolute;
    left: 50%;
    top: 45%;
    text-align: center;
    font-size: 39px;
    font-weight: 600;
    font-family: Montserrat;
    color: white;
    transform: translate(-50%, -50%);
}
